html
    head
        title= title
    body
        h1(class = 'someClass' id = 'someId') Welcome to Breaddit!
            p.anotherClass.chainClass#anotherId This is a child of the h1 element
            //- p This is a #{class}