html
    head
        link(rel="stylesheet", href="/css/index.css")
        title= title
        a(href="/").navLinks Home
        a(href="/users").navLinks Users
        a(href="/users/signup").navLinks Sign Up
    body
        block content
    footer
        p This is a footer