extends layout.pug 
include utils.pug

block content
    table
        thead
            tr
                th Username
                th Email 
                th Password
        tbody
            each user in users
                +userData(user)